<.header>
  Edit Note “<%= @note.name %>”
  <:actions>
    <.link href={~p"/admin/notes/#{@note.id}"}>
      <.button><.icon name="hero-arrow-left" /> Back to Note</.button>
    </.link>
  </:actions>
</.header>

<.note_form
  changeset={@changeset}
  action={~p"/admin/notes/#{@note}"}
  channels={@channels}
  selected_channels={@selected_channels}
  tags={@tags}
/>
