<.header>
  Edit Note <%= @note.id %>
  <:subtitle>Use this form to manage note records in your database.</:subtitle>
</.header>

<.note_form
  changeset={@changeset}
  action={~p"/admin/notes/#{@note}"}
  channels={@channels}
  selected_channels={@selected_channels}
  tags={@tags}
/>

<.back navigate={~p"/admin/notes/#{@note.id}"}>Back to note</.back>
