<.header>
  New Note
  <:subtitle>Use this form to manage note records in your database.</:subtitle>
  <:actions>
    <.link href={~p"/admin/notes"}>
      <.button><.icon name="hero-arrow-left" /> Back to Notes</.button>
    </.link>
  </:actions>
</.header>

<.note_form
  changeset={@changeset}
  action={~p"/admin/notes"}
  channels={@channels}
  tags={@tags}
  selected_channels={@selected_channels}
/>