<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" data-theme={@settings.theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={" · #{@settings.title}"}>
      <%= assigns[:page_title] || "Home" %>
    </.live_title>

    <.favicon />

    <link rel="authorization_endpoint" href={@auth_endpoint} />
    <link rel="token_endpoint" href={@token_endpoint} />
    <link rel="micropub" href={~p"/indie/micropub"} />

    <%= for identity <- @identities do %>
      <link rel="me" href={identity.url} />
    <% end %>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/public.js"}>
    </script>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        console.log("Dark Mode")
        document.documentElement.dataset["mode"] = "dark"
      } else {
        delete document.documentElement.dataset["mode"]
      }
    </script>
    <style>
      <%= @settings.custom_css %>
    </style>
  </head>
  <body class="h-feed hfeed">
    <header id="site-header">
      <nav class="container">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li class="flex-1"></li>
          <%= if @current_user do %>
            <li>
              <a href="/admin">
                Admin
              </a>
            </li>
          <% end %>
          <li>
            <a href="#" id="dark-mode-toggle">
              <span class="hidden dark:inline">🌙</span>
              <span class="inline dark:hidden">☀️</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="site-content" class="container print:hidden">
      <aside id="primary-sidebar">
        <nav class="prose max-w-none">
          <div class="menu">
            <h3>Pages</h3>
            <ul>
              <li>
                <%= active_link(@conn, "About", to: "/about") %>
              </li>
              <li>
                <%= active_link(@conn, "Wiki", to: "/wiki") %>
              </li>
              <li>
                <%= active_link(@conn, "Bookmarks", to: "/bookmarks") %>
              </li>
            </ul>
          </div>

          <div class="menu">
            <h3>Channels</h3>
            <ul>
              <%= for channel <- @channels do %>
                <li>
                  <%= active_link(@conn, channel.name, to: ~p"/channel/#{channel.slug}") %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="menu">
            <h3>Elsewhere</h3>
            <ul>
              <%= for identity <- @public_identities do %>
                <li><a href={identity.url}><%= identity.name %></a></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </aside>

      <section id="content-wrapper">
        <%= @inner_content %>
      </section>
    </main>

    <footer id="site-footer" class="container">
      <p class="container text-center">
        Struggling to make a decent website since 2011
      </p>
    </footer>

    <%= if @profile do %>
      <section class="hidden | hcard h-card">
        <a href="/" rel="me" class="u-url"><%= @profile.name %></a>
        <img
          class="u-photo"
          src={ChiyaWeb.Uploaders.UserImage.url({@profile.user_image, @profile}, :thumb)}
        />
        <span class="p-nickname"><%= @profile.handle %></span>
        <span class="p-note"><%= @profile.bio %></span>
      </section>
    <% end %>
  </body>
</html>
