<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" data-theme={@settings.theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={" · #{@settings.title}"}>
      <%= assigns[:page_title] || "Home" %>
    </.live_title>

    <.favicon />

    <link rel="authorization_endpoint" href={@auth_endpoint} />
    <link rel="token_endpoint" href={@token_endpoint} />
    <link rel="micropub" href={~p"/indie/micropub"} />

    <%= for identity <- @identities do %>
      <link rel="me" href={identity.url} />
    <% end %>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/public.js"}>
    </script>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.dataset["mode"] = "dark"
      } else {
        delete document.documentElement.dataset["mode"]
      }
    </script>
    <style>
      <%= @settings.custom_css %>
    </style>
  </head>
  <body class="text-theme-base bg-theme-background | h-feed hfeed">
    <aside class="block">
      <%= raw @settings.custom_html %>
    </aside>
    <header class="my-8 block px-3">
      <nav class="mx-auto max-w-2xl">
        <ul class="flex gap-3">
          <li>
            <a href="/">
              <.icon name="hero-home" /> Home
            </a>
          </li>
          <li>
            <a href="/about">
              <.icon name="hero-face-smile" /> About
            </a>
          </li>
          <li>
            <a href="/wiki">
              <.icon name="hero-paper-clip" /> Wiki
            </a>
          </li>
          <%= if @current_user do %>
            <li>
              <a href="/admin">
                <.icon name="hero-beaker" /> Admin
              </a>
            </li>
          <% end %>
          <li class="flex-1"></li>
          <li>
            <.darkmode_toggle />
          </li>
        </ul>
      </nav>
    </header>

    <main class="mx-3 md:mx-0">
      <%= @inner_content %>
    </main>

    <footer class="max-w-full mt-8 p-8 text-theme-base/75 bg-theme-background1">
      <section class="max-w-2xl mx-auto flex gap-3">
        <div class="flex-1">
          <h2 class="font-bold tracking-wider">Info</h2>

          <ul class="list-disc list-inside">
            <li>Served by Chiya v<%= Application.spec(:chiya, :vsn) %></li>
            <li>Made by Inhji</li>
          </ul>
        </div>

        <div class="flex-1">
          <h2 class="font-bold tracking-wider">Links</h2>

          <ul class="list-disc list-inside">
            <li><a href="#"><del>Wiki</del></a></li>
          </ul>
        </div>

        <div class="flex-1">
          <h2 class="font-bold tracking-wider">Elsewhere</h2>

          <ul class="list-disc list-inside">
            <%= for identity <- @public_identities do %>
              <li><a href={identity.url}><%= identity.name %></a></li>
            <% end %>
          </ul>
        </div>
      </section>

      <section class="max-w-2xl mx-auto">
        <.divider />
        <div data-dummy="true" />
      </section>

      <p class="mt-4 max-w-2xl mx-auto text-center">
        Struggling to make a decent website since 2011
      </p>
    </footer>

    <%= if @profile do %>
    <section class="hidden | hcard h-card">
      <a href="/" rel="me" class="u-url"><%= @profile.name %></a>
      <img class="u-photo" src={ChiyaWeb.Uploaders.UserImage.url({@profile.user_image, @profile}, :thumb)} />
      <span class="p-nickname"><%= @profile.handle %></span>
      <span class="p-note"><%= @profile.bio %></span>
    </section>
    <% end %>

    <section class="flex h-1 w-full flex-row">
      <div class="bg-theme-primary w-full"></div>
      <div class="bg-theme-secondary w-full"></div>
      <div class="bg-theme-tertiary w-full"></div>
      <div class="bg-theme-quaternary w-full"></div>
      <div class="bg-theme-quinary w-full"></div>
    </section>
  </body>
</html>
