<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" data-theme={@settings.theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={" · #{@settings.title}"}>
      <%= assigns[:page_title] || "Home" %>
    </.live_title>

    <.favicon />

    <link rel="authorization_endpoint" href={@auth_endpoint} />
    <link rel="token_endpoint" href={@token_endpoint} />
    <link rel="micropub" href={~p"/indie/micropub"} />

    <%= for identity <- @identities do %>
      <link rel="me" href={identity.url} />
    <% end %>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/public.js"}>
    </script>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.dataset["mode"] = "dark"
      } else {
        delete document.documentElement.dataset["mode"]
      }
    </script>
    <style>
      <%= @settings.custom_css %>
    </style>
  </head>
  <body class="stack | h-feed hfeed">
    <header id="site-header">
      <nav class="container">
        <ul>
          <li>
            <a href="/">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/about">
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="/wiki">
              <span>Wiki</span>
            </a>
          </li>
          <li>
            <a href="/bookmarks">
              <span>Bookmarks</span>
            </a>
          </li>
          <li class="flex-1"></li>
          <%= if @current_user do %>
            <li>
              <a href="/admin">
                Admin
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main id="site-content" class="container print:hidden">
      <aside id="primary-sidebar">
        <nav class="prose max-w-none">
          <h3>Channels</h3>
          <ul class="menu">
            <%= for channel <- @channels do %>
              <li>
                <a href={~p"/channel/#{channel.slug}"}>
                  <%= channel.name %>
                </a>
              </li>
            <% end %>
          </ul>

          <h3>Elsewhere</h3>
          <ul class="menu">
            <%= for identity <- @public_identities do %>
              <li><a href={identity.url}><%= identity.name %></a></li>
            <% end %>
          </ul>
        </nav>
      </aside>

      <section id="content-wrapper">
        <%= @inner_content %>
      </section>
    </main>

    <footer class="max-w-full mt-8 p-8 text-theme-base/75 bg-theme-background1 print:hidden">
      <p class="container text-center">
        Struggling to make a decent website since 2011
      </p>
    </footer>

    <%= if @profile do %>
      <section class="hidden | hcard h-card">
        <a href="/" rel="me" class="u-url"><%= @profile.name %></a>
        <img
          class="u-photo"
          src={ChiyaWeb.Uploaders.UserImage.url({@profile.user_image, @profile}, :thumb)}
        />
        <span class="p-nickname"><%= @profile.handle %></span>
        <span class="p-note"><%= @profile.bio %></span>
      </section>
    <% end %>
  </body>
</html>
