<.header>
  New Identity
  <:subtitle>Use this form to manage identity records in your database.</:subtitle>
</.header>

<.identity_form changeset={@changeset} action={~p"/admin/identities"} />

<.back navigate={~p"/admin/identities"}>Back to identities</.back>
