<.header>
  New Setting
  <:subtitle>Use this form to manage setting records in your database.</:subtitle>
</.header>

<.setting_form changeset={@changeset} action={~p"/admin/settings"} channels={@channels} />

<.back navigate={~p"/admin/settings"}>Back to settings</.back>
