.ll-nam { /* words */
    @apply text-theme-base;
}
.ll-num { /* numbers */
    color: rgb(var(--color-purple));
}
.ll-str { /* strings */
    color: rgb(var(--color-yellow));
}
.ll-rex { /* regular expressions */
    color: rgb(var(--color-yellow));
}
.ll-pct { /* operators, punctation */
    @apply text-theme-primary;
}
.ll-key { /* keywords */
    @apply font-bold;
    color: rgb(var(--color-blue));
}
.ll-com { /* comments */
    @apply text-theme-base1;
    font-style: italic;
}
