<div class="mx-auto max-w-xl mx-4 lg:mx-0">
  <h1 class="mt-16 text-[2rem] font-semibold font-serif leading-10 tracking-tighter text-theme-heading">
    <%= @channel.name %>
  </h1>
  <p class="mt-4 text-base leading-7 text-theme-base">
    <%= @channel.content %>
  </p>

  <div class="w-full mt-6 sm:w-auto flex flex-col gap-1.5">
    <.note_list notes={@channel.notes} layout={@channel.layout} />
  </div>
</div>
