<div class="px-4 py-10 sm:py-28 sm:px-6 lg:px-8 xl:py-32 xl:px-28">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="mt-4 text-[2rem] font-semibold leading-10 tracking-tighter text-gray-900">
      <%= @channel.name %>
    </h1>
    <p class="mt-4 text-base leading-7 text-gray-600">
      <%= @channel.content %>
    </p>
  </div>
</div>
