<header class="page-header">
  <h1><%= @channel.name %></h1>
  <p><%= Markdown.render(@channel.content) |> raw %></p>
</header>

<div class="w-full mt-6 sm:w-auto flex flex-col gap-1.5">
  <.note_list notes={@channel.notes}/>
</div>