<section class="max-w-2xl mx-auto">
  <.header>
    <:title>Tagged with &ldquo;<%= @tag.name %>&rdquo;</:title>
    <:subtitle><%= @tag.content %></:subtitle>
  </.header>

  <div class="w-full mt-6 sm:w-auto flex flex-col gap-1.5">
    <.note_list notes={@tag.notes} />
  </div>
</section>