<ul class="tag-bar">
  <%= for {letter, tag_group} <- group_tags(@notes) do %>
    <li>
      <span class="letter">
        <%= letter %>
      </span>

      <%= for tag <- tag_group do %>
        <a href={~p"/tagged-with/#{tag.slug}"}>
          <%= tag.name %>
          <span class="count">
            <%= Enum.count(tag.notes) %>
          </span>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>
