<header class="page-header">
  <h1><%= @channel.name %></h1>
  <p><%= Markdown.render(@channel.content) |> raw %></p>
</header>

<section class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-3">
  <section class="col-span-1 md:col-span-2">
    <.note_list notes={@notes} />
  </section>

  <section>
    <.tag_list notes={@notes} />
  </section>
</section>