<html>
    <head>
        <title>Not found</title>
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    </head>
    <body>
        <.header>
            <:title>Not found</:title>
            <:subtitle>This page went away and never came back.</:subtitle>
        </.header>
    </body>
</html>