<html>
    <head>
        <title>Infernal Server Error</title>
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    </head>
    <body class="bg-theme-background text-theme-base">
        <.header class="mx-auto max-w-2xl">
            Infernal Server Error
            <:subtitle>Server got hot and went to hell.</:subtitle>
        </.header>
    </body>
</html>