<html>
    <head>
        <title>Infernal Server Error</title>
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    </head>
    <body>
        <.header>
            <:title>Infernal Server Error</:title>
            <:subtitle>Server got hot and went to hell.</:subtitle>
        </.header>
    </body>
</html>